.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
img.avatar {
    width: 100%;
    height: auto;
}
div.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}